:root {
	--color-abnormal: red;
	--color-save-pulse: #fff8ce;
	--color-shift-morning: #bddcbd;
	--color-shift-afternoon: #d2dcbd;
	--color-shift-night: #bdcadc;
}

body {
	background-color: #f6f6f6;
	color: #232222;
	margin: 10px;
	box-sizing: border-box;
}

.app {
	margin: 0 auto;
	max-width: 1200px;
}

.view {
	display: none;
	background-color: #efefef;
	border: 1px black solid;
	box-shadow: 5px 5px 5px 0px #a2a2a2;
	border-radius: 10px;
	padding: 20px;

	&.active {
		display: block;
	}

	h1 {
		margin-top: 0;
	}
}

/* Sign-in */
#view-signin {
	background-color: #d7d7d7;
	max-width: 400px;
	margin: 10% auto;

	input {
		width: 100%;
		border-radius: 5px;
		border-width: 1px;
		padding: 5px;
		margin: 5px 0;
	}

	button {
		margin-top: 10px;
		float: right;
		min-width: 80px;
	}

	button:focus {
		outline: 1px #252525 solid;
	}

	#login {
		margin-top: 0;
		text-align: center;
	}
}

/* Patient Search */
#view-patient-search {
	#patient-cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.patient-card:hover {
		box-shadow: 2px 2px 5px 0px #acacac;
	}

	.patient-card {
		border: 1px solid black;
		border-radius: 8px;
		background-color: #a9ceb1;
		padding: 5px;
		cursor: pointer;
	}

	.patient-img {
		width: 75px;
		height: auto;
		box-sizing: border-box;
		float: left;
		margin-right: 10px;
	}
}

#view-patient-chart {
	padding: 0;
}

/* Patient info header */
#patient-info {
	padding: 0 10px;

	#patient-title {
		display: block;
		margin: 0 -10px;
		background-color: #b2b2b2;
		padding: 5px 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	#patient-name {
		font-size: 1.2em;
		font-weight: bold;
	}

	div {
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	span {
		margin-right: 15px;
	}
}

/* Vital Signs */
#vs-form-content {
	.vital-sign-grid-row > div {
		padding: 3px 0;
	}

	.vital-sign-label {
		justify-self: start;
		font-weight: bold;
		white-space: nowrap;
	}

	.vital-sign-input {
		justify-self: end;
		border-left: 1px solid gray;
		width: 100%;
		text-align: center;
	}
	.vital-input-container {
		padding-left: 10px;
		display: flex;
	}

	#vital-sign-save-btn {
		display: flex;
		margin: 10px 10px 5px auto;
	}

	.btn-vs-edit {
		padding: 6px 4px;
		flex: 1 1 0px;
	}

	.edit-button-wrapper {
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		padding: 13px 3px 6px 10px;
	}

	.vital-sign-history-time {
		font-size: small;
		display: block;
		text-align: center;
	}

	.vs-table {
		width: 100%;
		border: 0;
		border-collapse: collapse;
	}

	.vs-table th:not(:first-child) {
		width: 19%;
		font-weight: normal;
	}

	.vs-table thead {
		border-bottom: 1px solid black;
	}

	.vs-table tr td:last-of-type,
	.vs-table tr th:last-of-type {
		border-left: 1px solid black;
		padding: 3px 0;
	}

	.vs-time {
		font-size: small;
		display: block;
		text-align: center;
	}

	.vs-table td {
		text-align: center;
	}

	.vs-table .vital-sign-label {
		text-align: left;
	}

	.vs-edit:after {
		content: '\270E';
		cursor: pointer;
		color: green;
		position: absolute;
		margin-top: -3px;
		margin-left: 3px;
	}

	.vs-delete:after {
		content: '\1F5D1';
		cursor: pointer;
		color: red;
		position: absolute;
		margin-top: -3px;
		margin-left: 3px;
	}
}

/* Intake & Output */
.io-table {
	width: 100%;
	border-collapse: collapse;

	& ~ .io-table {
		margin-top: 20px;
	}

	caption {
		border: 3px solid black;
		border-collapse: collapse;
		border-bottom: none;
		font-weight: bold;
	}

	colgroup {
		border: 3px solid black;
	}

	thead th {
		border-bottom: 3px solid black;
	}

	tfoot {
		border: 3px solid black;
	}

	td,
	th {
		border: 1px solid black;
		min-width: 50px;
		text-align: center;
	}

	td {
		padding: 0;
	}

	th {
		padding: 3px;
	}

	.io-total {
		margin-left: 10px;
	}

	td.io-time {
		text-align: right;
		padding-right: 5px;
		padding-left: 0;
	}

	input:focus-visible {
		outline: none;
		outline-style: inset;
		outline-offset: -1px;
	}
	input {
		width: 100%;
		box-sizing: border-box;
		text-align: right;
		border: none;
		padding-right: 5px;
	}
}

/* ADL */
.adl-table {
	width: 100%;
	border-collapse: collapse;

	td,
	th {
		border: 1px solid black;
		padding: 3px 5px;
		text-align: center;
		position: relative;
	}

	.activity-label {
		text-align: left;
	}

	td:focus-within {
		outline-style: solid;
		outline-offset: -2px;
	}

	select {
		opacity: 0;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		cursor: pointer;
	}

	option {
		text-align: center;
	}

	.group {
		border: none;
		width: 1px;
		border-right: 3px solid black;
		padding: 10px 0 10px 5px;
		color: #efefef;
	}

	.group-label {
		background-color: gray;
		width: 100%;
		align-content: center;
		outline: 2px solid black;
		padding: 10px 0;
		writing-mode: vertical-rl;
		height: min-content;
		transform: rotate(180deg);
		pointer-events: none;

		span {
			padding: 0 3px;
			display: block;
			-webkit-font-smoothing: antialiased;
            -webkit-text-stroke: .5px black;
            paint-order: stroke;
		}
	}

	tbody tr {
		border-right: 3px solid black;
	}

	.group-spacer {
		height: 10px;
		border: none
	}

	tbody tr:first-child td:not(td[rowspan]) {
		border-top: 3px solid black;
	}

	tbody tr:nth-last-child(2) td:not(td[rowspan]) {
		border-bottom: 3px solid black;
	}
}

/* Notes */
#notes-tab-content {
	position: relative;

	#notes-container {
		display: flex;
		flex-flow: column;
		max-height: calc(100vh - 200px);
	}

	.note {
		display: flex;
		flex-direction: row;
		gap: 10px;
		position: relative;
		border: 1px solid gray;
		padding: 3px 10px;
		border-radius: 4px;
		background-color: #fbfbfb;
		cursor: pointer;
		margin: 5px;
		box-sizing: border-box;

		.date {
			font-size: smaller;
			text-align: center;
			border-right: 1px solid lightgrey;
			padding-right: 5px;
			align-self: stretch;
		}

		&.open .note-text {
			-webkit-line-clamp: unset;
			line-clamp: unset;
		}

		.note-text {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			overflow: hidden;
			flex-grow: 1;
			align-self: center;
		}
	}

	button#new-note:before {
		content: '\0002B';
		margin-right: 10px;
	}

	button#new-note {
		border-radius: 15px;
		padding-left: 10px;
		margin: 10px 0 5px 15px;
	}

	#note-input-container {
		flex-shrink: 0;
	}
	#note-input-container.accordion.show {
		height: auto;
	}

	.button-container {
		display: flex;
		justify-content: flex-end;
		gap: 10px;
		border-bottom: 1px solid black;
		padding-bottom: 10px;
		padding-inline: 10px;
	}

	#note-text {
		display: block;
		box-sizing: border-box;
		width: calc(100% - 20px);
		height: 100px;
		resize: none;
		margin: 10px;
	}

	&.show-input #note-text {
		height: 100px;
	}

	#note-input-counter {
		position: absolute;
		bottom: -20px;
		left: 15px;
		opacity: 0.9;
		font-size: 90%;
	}

	.note-list {
		overflow: auto;
	}
}

/* Tabs */
.container--tabs {
	margin-top: 1rem;

	.nav-tabs {
		margin: 0;
		list-style-type: none;
		height: 2.65em;

		> li {
			float: left;
			margin-bottom: -1px;

			> a {
				float: left;
				margin-right: 4px;
				line-height: 1.42857143;
				padding: 10px;
				border: 1px solid transparent;
				border-radius: 4px 4px 0 0;
				text-decoration: none;
				color: white;
				background-color: rgb(95 95 95);

				&:hover {
					border-color: #eee #eee #ddd;
				}
			}

			&.active {
				> a,
				> a:hover,
				> a:focus {
					color: #555;
					text-shadow: 1px 0px 0px black;
					cursor: default;
					background-color: rgb(159 178 114);
					border: 1px solid #ddd;
					border-bottom-color: transparent;
				}
			}
		}
	}

	.tab-content {
		width: 100%;
		position: relative;
		border: 3px solid #a3b17a;
		border-top-width: 6px;
		box-sizing: border-box;
		padding: 5px;
		border-radius: 8px;

		> .tab-pane {
			display: none;

			> .active {
				display: block;
				padding: 2.5% 3.5%;
				background-color: #efefef;
				font-weight: bold;
			}
		}

		> .active {
			display: block;
		}
	}
}

/* Buttons */
.btn {
	appearance: none;
	background-color: #fafbfc;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #24292e;
	cursor: pointer;
	font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	white-space: nowrap;
	word-wrap: break-word;

	&.btn-small {
		font-size: 0.8em;
		padding: 0 5px;
	}

	&:hover {
		background-color: #f3f4f6;
		text-decoration: none;
		transition-duration: 0.1s;
		filter: brightness(90%) contrast(1.2);
	}

	&:disabled {
		background-color: #fafbfc;
		border-color: rgba(27, 31, 35, 0.15);
		color: #959da5;
		cursor: default;
	}

	&:active {
		background-color: #edeff2;
		box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
		transition: none 0s;
		transform: translate(1px, 2px);
	}

	&:focus {
		outline: 1px transparent;
		border: 1px solid black;
	}

	&.btn-blue {
		background-color: #5e92d0;
		color: white;

		&:hover,
		&:active,
		&:focus {
			background-color: #3c7fd0;
		}
	}

	&.btn-green {
		background-color: #3fb855;
		color: white;

		&:hover,
		&:active,
		&:focus {
			background-color: #309d44;
		}
	}
}

.hidden {
	display: none;
}

.clearfix::after {
	content: ' ';
	display: table;
	clear: both;
}

form {
	margin-top: 0.5em;
}

input {
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

input[type='number'][size='3'] {
	width: 3em;
}
input::placeholder {
	opacity: 0.8;
	font-size: 0.8em;
}

.abnormal {
	background-color: var(--color-abnormal);
	font-weight: bold;
}

.mx-2 {
	margin-left: 2px;
	margin-right: 2px;
}

.float-right {
	float: right;
}

.save-flash {
	animation: savepulse 4s;
}
@keyframes savepulse {
	0%,
	100% {
		background-color: revert-layer;
	}
	50% {
		background-color: var(--color-save-pulse);
	}
}

.morning-bg {
	background-color: var(--color-shift-morning);
}

.afternoon-bg {
	background-color: var(--color-shift-afternoon);
}

.night-bg {
	background-color: var(--color-shift-night);
}

.accordion {
	height: 0;
	overflow: hidden;
	interpolate-size: allow-keywords;
	transition: height 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.mt-20 {
	margin-top: 20px;
}